<!DOCTYPE html>
<html>
<head>
	<title>V2V | Offline Map</title>
	<link href="/static/images/marker-icon-2x.png" rel="icon">
	<link rel="stylesheet" type="text/css" href="/static/leaflet.css">
	<link rel="stylesheet" type="text/css" href="/static/css/toastr/toastr.min.css">
	<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<style type="text/css">
		.leaflet-marker-icon{
			width: 30px !important;
			height: 30px !important;
		}
	</style>
</head>
<body>
	<div id="map"></div>
	<script src="/static/leaflet.js"></script>
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/toastr/toastr.min.js"></script>
	<script src="/static/js/socket.io.js"></script>

	<script>

	
		var map = L.map('map', {
		    // center: [8.9475, 125.5406], butuan center
		    center: [8.94398,125.52312],
		    zoom: 20,
		    useCache: true,
		});

		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
		}).addTo(map);
	
		
		

		function toastrOptions() {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }


        socket = io.connect(location.protocol + '//' + document.domain + ":" + location.port + "/received")
		
		/* Receiving Emit to Received*/
		socket.on('received', function(res){
			toastrOptions();
			var data = res.split(",");
    		toastr.success("Lat: " + data[0] + " Long: " +data[1], 'Location');


			var marker = L.marker([data[0],data[1]]).bindPopup("<b>CAR 1</b><br>Hello! You are here.").addTo(map);
			marker.on('mouseover', function(){
				marker.openPopup();
			});
		});
    
	</script>
</body>
</html>